@inject IStringLocalizer<NavMenuRes> Localize

@page "/experiencia"
@page "/experience"
@using CV.Shared.Resources;



<PageTitle>@Localize["navbar_experiencia"]</PageTitle>

<h1> @Localize["navbar_experiencia"]</h1>

