@inject IStringLocalizer<CV.Shared.Resources.NavMenuRes> Localize

@page "/education"
@page "/educacion"



<PageTitle>@Localize["navbar_educacion"]</PageTitle>

<div class="container-fluid p-0">
<h1> @Localize["navbar_educacion"]</h1>

</div>