@inject IStringLocalizer<CV.Shared.Resources.NavMenuRes> Localize

@page "/tecnologies"
@page "/tecnologias"






<PageTitle>@Localize["navbar_tecnologias"]</PageTitle>

<h1> @Localize["navbar_tecnologias"]</h1>
